.popup {
    width: 400px;
    height: 100px;
    background-color: beige;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.popup > p {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px
}

.ellipse {
    width: 180px;
    height: 100px;
    background-color: lime;
    border-radius: 50%
}

.circle {
    width: 100px;
    height: 100px;
    background-color: lime;
    border-radius: 50%;
}

.lime {
    width: 100px;
    height: 100px;
    background-color: lime;
    border-radius: 0% 20%
}